h2{
    text-align: center;
}
h4{
    text-align: center;
}
img{
    border-radius: 20%;
    position: absolute;
    top:30%;
    left:46%;
}
h6{
    text-align: center;
}
a{
    position:absolute;
    top:50%;
    left:46%;
}